In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Getting teh data
df_num = pd.read_csv(r'C:\Users\ljant\Desktop\Ironhack\10_KNN\lab-data-cleaning-and-wrangling\numerical.csv')

def header_function (data):
    cols = []
    for i in range (len(data.columns)):
        cols.append(data.columns[i].lower().replace(' ','_'))
    
    data.columns = cols

    return data

header_function(df_num)

,effective_to_date,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2011-02-24,56274,69,32,5,0,1,384.811147
1,2011-01-31,0,94,13,42,0,8,1131.464935
2,2011-02-19,48767,108,18,38,0,2,566.472247
3,2011-01-20,0,106,18,65,0,7,529.881344
4,2011-02-03,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,2011-02-10,71941,73,18,89,0,2,198.234764
9130,2011-02-12,21604,79,14,28,0,1,379.200000
9131,2011-02-06,0,85,9,37,3,2,790.784983
9132,2011-02-03,21941,96,34,3,0,3,691.200000
9133,2011-02-14,0,77,3,90,0,1,369.600000

In [4]:
df_cat = pd.read_csv(r'C:\Users\ljant\Desktop\Ironhack\10_KNN\lab-data-cleaning-and-wrangling\categorical.csv')

def header_function (data):
    cols = []
    for i in range (len(data.columns)):
        cols.append(data.columns[i].lower().replace(' ','_'))
    
    data.columns = cols

    return data

header_function(df_cat)

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,sales_channel_web,vehicle_class_four-door_car,vehicle_class_luxury_car,vehicle_class_luxury_suv,vehicle_class_suv,vehicle_class_sports_car,vehicle_class_two-door_car,vehicle_size_large,vehicle_size_medsize,vehicle_size_small
0,0,0,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
3,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,1,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,1,0,0,0,1,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0
9130,0,1,0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
9131,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
9132,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
9133,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0

In [4]:
# Concatting
df = pd.concat([df_cat, df_num], axis = 1).reset_index(drop = True)
df

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,vehicle_size_medsize,vehicle_size_small,effective_to_date,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,0,0,0,1,1,0,1,0,0,...,1,0,2011-02-24,56274,69,32,5,0,1,384.811147
1,1,0,0,0,0,1,0,0,1,0,...,1,0,2011-01-31,0,94,13,42,0,8,1131.464935
2,0,0,1,0,0,1,0,0,0,1,...,1,0,2011-02-19,48767,108,18,38,0,2,566.472247
3,0,1,0,0,0,1,0,1,0,0,...,1,0,2011-01-20,0,106,18,65,0,7,529.881344
4,0,0,0,0,1,1,0,1,0,0,...,1,0,2011-02-03,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,1,0,0,0,1,0,1,0,0,...,1,0,2011-02-10,71941,73,18,89,0,2,198.234764
9130,0,1,0,0,0,0,1,0,1,0,...,1,0,2011-02-12,21604,79,14,28,0,1,379.200000
9131,0,1,0,0,0,1,0,0,1,0,...,1,0,2011-02-06,0,85,9,37,3,2,790.784983
9132,0,1,0,0,0,1,0,0,1,0,...,0,0,2011-02-03,21941,96,34,3,0,3,691.200000
9133,0,1,0,0,0,1,0,0,1,0,...,1,0,2011-02-14,0,77,3,90,0,1,369.600000

In [5]:
###1. Removing outliers
'''
Only continious columns show outliers --> investigating/dropping in 'total_claim_amoiunt' and 'income'
'''
def outliers_iqr(data, columns, threshold=1.5):
    df_adj = df.copy()
    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - threshold * IQR
        upper_bound = Q3 + threshold * IQR

        df_adj = df_adj[(df_adj[column] >= lower_bound) & (df_adj[column] <= upper_bound)]

    return df_adj


clean_data = outliers_iqr(df, ['total_claim_amount', 'income'], threshold=1.5).reset_index(drop = True)
clean_data

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,vehicle_size_medsize,vehicle_size_small,effective_to_date,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,0,0,0,1,1,0,1,0,0,...,1,0,2011-02-24,56274,69,32,5,0,1,384.811147
1,0,0,1,0,0,1,0,0,0,1,...,1,0,2011-02-19,48767,108,18,38,0,2,566.472247
2,0,1,0,0,0,1,0,1,0,0,...,1,0,2011-01-20,0,106,18,65,0,7,529.881344
3,0,0,0,0,1,1,0,1,0,0,...,1,0,2011-02-03,43836,73,12,44,0,1,138.130879
4,0,0,0,1,0,0,1,1,0,0,...,1,0,2011-01-25,62902,69,14,94,0,2,159.383042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8676,0,1,0,0,0,1,0,1,0,0,...,1,0,2011-02-10,71941,73,18,89,0,2,198.234764
8677,0,1,0,0,0,0,1,0,1,0,...,1,0,2011-02-12,21604,79,14,28,0,1,379.200000
8678,0,1,0,0,0,1,0,0,1,0,...,1,0,2011-02-06,0,85,9,37,3,2,790.784983
8679,0,1,0,0,0,1,0,0,1,0,...,0,0,2011-02-03,21941,96,34,3,0,3,691.200000
8680,0,1,0,0,0,1,0,0,1,0,...,1,0,2011-02-14,0,77,3,90,0,1,369.600000

In [6]:
###2. Copy of the df for data wrangling
clean_df = clean_data.copy()
clean_df

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,vehicle_size_medsize,vehicle_size_small,effective_to_date,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,0,0,0,1,1,0,1,0,0,...,1,0,2011-02-24,56274,69,32,5,0,1,384.811147
1,0,0,1,0,0,1,0,0,0,1,...,1,0,2011-02-19,48767,108,18,38,0,2,566.472247
2,0,1,0,0,0,1,0,1,0,0,...,1,0,2011-01-20,0,106,18,65,0,7,529.881344
3,0,0,0,0,1,1,0,1,0,0,...,1,0,2011-02-03,43836,73,12,44,0,1,138.130879
4,0,0,0,1,0,0,1,1,0,0,...,1,0,2011-01-25,62902,69,14,94,0,2,159.383042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8676,0,1,0,0,0,1,0,1,0,0,...,1,0,2011-02-10,71941,73,18,89,0,2,198.234764
8677,0,1,0,0,0,0,1,0,1,0,...,1,0,2011-02-12,21604,79,14,28,0,1,379.200000
8678,0,1,0,0,0,1,0,0,1,0,...,1,0,2011-02-06,0,85,9,37,3,2,790.784983
8679,0,1,0,0,0,1,0,0,1,0,...,0,0,2011-02-03,21941,96,34,3,0,3,691.200000
8680,0,1,0,0,0,1,0,0,1,0,...,1,0,2011-02-14,0,77,3,90,0,1,369.600000

In [7]:
###3. Normalising the continious columns
# Get numeric df
def column_types(data):
    num_col = data.select_dtypes(include=['int', 'float', 'datetime64']).columns
    cat_col = data.select_dtypes(include=['object']).columns
    return num_col, cat_col

numerical_columns, categorical_columns = column_types(clean_df)

numerical_df = clean_df[numerical_columns]
categorical_df = clean_df[categorical_columns]

In [9]:
# Differentiate between continious and discrete values (function)

def dicision(data, threshold=250):
    continuous_cols = []
    discrete_cols = []
    for column in data.columns:
        unique_count = data[column].nunique()
        if unique_count <= threshold:
            discrete_cols.append(column)
        else:
            continuous_cols.append(column)
    return continuous_cols, discrete_cols

continuous_columns, discrete_columns = dicision(numerical_df)
print("Continuous columns:")
print(continuous_columns)
print("\nDiscrete columns:")
print(discrete_columns)

continuous_df = numerical_df[continuous_columns]
discrete_df = numerical_df[discrete_columns]

Continuous columns:
['income', 'total_claim_amount']

Discrete columns:
['state_arizona', 'state_california', 'state_nevada', 'state_oregon', 'state_washington', 'response_no', 'response_yes', 'coverage_basic', 'coverage_extended', 'coverage_premium', 'education_bachelor', 'education_college', 'education_doctor', 'education_high_school_or_below', 'education_master', 'employmentstatus_disabled', 'employmentstatus_employed', 'employmentstatus_medical_leave', 'employmentstatus_retired', 'employmentstatus_unemployed', 'gender_f', 'gender_m', 'location_code_rural', 'location_code_suburban', 'location_code_urban', 'marital_status_divorced', 'marital_status_married', 'marital_status_single', 'policy_corporate_l1', 'policy_corporate_l2', 'policy_corporate_l3', 'policy_personal_l1', 'policy_personal_l2', 'policy_personal_l3', 'policy_special_l1', 'policy_special_l2', 'policy_special_l3', 'renew_offer_type_offer1', 'renew_offer_type_offer2', 'renew_offer_type_offer3', 'renew_offer_type_offer4', 'sales_channel_agent', 'sales_channel_branch', 'sales_channel_call_center', 'sales_channel_web', 'vehicle_class_four-door_car', 'vehicle_class_luxury_car', 'vehicle_class_luxury_suv', 'vehicle_class_suv', 'vehicle_class_sports_car', 'vehicle_class_two-door_car', 'vehicle_size_large', 'vehicle_size_medsize', 'vehicle_size_small', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies']

In [10]:
# Normalisations of continious columns

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
normalised_data = scaler.fit_transform(continuous_df)
normalised_data = pd.DataFrame(normalised_data, columns = continuous_df.columns)


df_num = pd.concat([discrete_df, normalised_data], axis = 1).reset_index(drop = True)
df_clean = pd.concat([df_num, categorical_df], axis = 1).reset_index(drop = True)
df_clean

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,vehicle_size_medsize,vehicle_size_small,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,income,total_claim_amount,effective_to_date
0,0,0,0,0,1,1,0,1,0,0,...,1,0,69,32,5,0,1,0.562847,0.400735,2011-02-24
1,0,0,1,0,0,1,0,0,0,1,...,1,0,108,18,38,0,2,0.487763,0.589962,2011-02-19
2,0,1,0,0,0,1,0,1,0,0,...,1,0,106,18,65,0,7,0.000000,0.551847,2011-01-20
3,0,0,0,0,1,1,0,1,0,0,...,1,0,73,12,44,0,1,0.438443,0.143781,2011-02-03
4,0,0,0,1,0,0,1,1,0,0,...,1,0,69,14,94,0,2,0.629140,0.165918,2011-01-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8676,0,1,0,0,0,1,0,1,0,0,...,1,0,73,18,89,0,2,0.719547,0.206388,2011-02-10
8677,0,1,0,0,0,0,1,0,1,0,...,1,0,79,14,28,0,1,0.216081,0.394890,2011-02-12
8678,0,1,0,0,0,1,0,0,1,0,...,1,0,85,9,37,3,2,0.000000,0.823617,2011-02-06
8679,0,1,0,0,0,1,0,0,1,0,...,0,0,96,34,3,0,3,0.219452,0.719885,2011-02-03
8680,0,1,0,0,0,1,0,0,1,0,...,1,0,77,3,90,0,1,0.000000,0.384890,2011-02-14

In [20]:
###4. Transforming Date into useful information
df_clean['effective_to_date'] = pd.to_datetime(df_clean['effective_to_date'])
data_types = df_clean.dtypes
print (data_types)
pd.set_option('display.max_rows', None)

state_arizona                              int64
state_california                           int64
state_nevada                               int64
state_oregon                               int64
state_washington                           int64
response_no                                int64
response_yes                               int64
coverage_basic                             int64
coverage_extended                          int64
coverage_premium                           int64
education_bachelor                         int64
education_college                          int64
education_doctor                           int64
education_high_school_or_below             int64
education_master                           int64
employmentstatus_disabled                  int64
employmentstatus_employed                  int64
employmentstatus_medical_leave             int64
employmentstatus_retired                   int64
employmentstatus_unemployed                int64
gender_f                                   int64
gender_m                                   int64
location_code_rural                        int64
location_code_suburban                     int64
location_code_urban                        int64
marital_status_divorced                    int64
marital_status_married                     int64
marital_status_single                      int64
policy_corporate_l1                        int64
policy_corporate_l2                        int64
policy_corporate_l3                        int64
policy_personal_l1                         int64
policy_personal_l2                         int64
policy_personal_l3                         int64
policy_special_l1                          int64
policy_special_l2                          int64
policy_special_l3                          int64
renew_offer_type_offer1                    int64
renew_offer_type_offer2                    int64
renew_offer_type_offer3                    int64
renew_offer_type_offer4                    int64
sales_channel_agent                        int64
sales_channel_branch                       int64
sales_channel_call_center                  int64
sales_channel_web                          int64
vehicle_class_four-door_car                int64
vehicle_class_luxury_car                   int64
vehicle_class_luxury_suv                   int64
vehicle_class_suv                          int64
vehicle_class_sports_car                   int64
vehicle_class_two-door_car                 int64
vehicle_size_large                         int64
vehicle_size_medsize                       int64
vehicle_size_small                         int64
monthly_premium_auto                       int64
months_since_last_claim                    int64
months_since_policy_inception              int64
number_of_open_complaints                  int64
number_of_policies                         int64
income                                   float64
total_claim_amount                       float64
effective_to_date                 datetime64[ns]
dtype: object

In [24]:
pd.reset_option('display.max_rows')
df_clean['effective_day'] = df_clean['effective_to_date'].dt.day
df_clean['effective_month'] = df_clean['effective_to_date'].dt.month

df_clean = df_clean.drop(['effective_to_date'], axis =1)
df_clean
#year is always 2011

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,vehicle_size_small,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,income,total_claim_amount,effective_day,effective_month
0,0,0,0,0,1,1,0,1,0,0,...,0,69,32,5,0,1,0.562847,0.400735,24,2
1,0,0,1,0,0,1,0,0,0,1,...,0,108,18,38,0,2,0.487763,0.589962,31,1
2,0,1,0,0,0,1,0,1,0,0,...,0,106,18,65,0,7,0.000000,0.551847,19,2
3,0,0,0,0,1,1,0,1,0,0,...,0,73,12,44,0,1,0.438443,0.143781,20,1
4,0,0,0,1,0,0,1,1,0,0,...,0,69,14,94,0,2,0.629140,0.165918,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8676,0,1,0,0,0,1,0,1,0,0,...,0,73,18,89,0,2,0.719547,0.206388,15,2
8677,0,1,0,0,0,0,1,0,1,0,...,0,79,14,28,0,1,0.216081,0.394890,7,1
8678,0,1,0,0,0,1,0,0,1,0,...,0,85,9,37,3,2,0.000000,0.823617,23,2
8679,0,1,0,0,0,1,0,0,1,0,...,0,96,34,3,0,3,0.219452,0.719885,28,2
8680,0,1,0,0,0,1,0,0,1,0,...,0,77,3,90,0,1,0.000000,0.384890,4,2

In [25]:
###5. Checking, if every column is numeric
pd.set_option('display.max_rows', None)
data_types = df_clean.dtypes
print (data_types)
pd.reset_option('display.max_rows')

state_arizona                       int64
state_california                    int64
state_nevada                        int64
state_oregon                        int64
state_washington                    int64
response_no                         int64
response_yes                        int64
coverage_basic                      int64
coverage_extended                   int64
coverage_premium                    int64
education_bachelor                  int64
education_college                   int64
education_doctor                    int64
education_high_school_or_below      int64
education_master                    int64
employmentstatus_disabled           int64
employmentstatus_employed           int64
employmentstatus_medical_leave      int64
employmentstatus_retired            int64
employmentstatus_unemployed         int64
gender_f                            int64
gender_m                            int64
location_code_rural                 int64
location_code_suburban              int64
location_code_urban                 int64
marital_status_divorced             int64
marital_status_married              int64
marital_status_single               int64
policy_corporate_l1                 int64
policy_corporate_l2                 int64
policy_corporate_l3                 int64
policy_personal_l1                  int64
policy_personal_l2                  int64
policy_personal_l3                  int64
policy_special_l1                   int64
policy_special_l2                   int64
policy_special_l3                   int64
renew_offer_type_offer1             int64
renew_offer_type_offer2             int64
renew_offer_type_offer3             int64
renew_offer_type_offer4             int64
sales_channel_agent                 int64
sales_channel_branch                int64
sales_channel_call_center           int64
sales_channel_web                   int64
vehicle_class_four-door_car         int64
vehicle_class_luxury_car            int64
vehicle_class_luxury_suv            int64
vehicle_class_suv                   int64
vehicle_class_sports_car            int64
vehicle_class_two-door_car          int64
vehicle_size_large                  int64
vehicle_size_medsize                int64
vehicle_size_small                  int64
monthly_premium_auto                int64
months_since_last_claim             int64
months_since_policy_inception       int64
number_of_open_complaints           int64
number_of_policies                  int64
income                            float64
total_claim_amount                float64
effective_day                       int32
effective_month                     int32
dtype: object

In [31]:
# As a function:
def check_numeric(dataframe):
    non_numeric = dataframe.select_dtypes(exclude=['int', 'float'])
    if non_numeric.empty:
        return []
    else:
        return non_numeric.columns.tolist()
    
non_numeric = check_numeric(df_clean)
if non_numeric:
    print("Non-numeric columns found:")
    for column in non_numeric:
        print(column)
else:
    print("All columns are numeric.")

All columns are numeric.